/* Resetando os estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Usa a altura total da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black; /* Fundo preto */
    background: linear-gradient(45deg, #ff6b6b, #f5a623, #ffec61, #8a2be2);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

/* Animação do Gradiente */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
